# Database Config
DB_USER=user
DB_PASSWORD=password
DB_HOST=hostname
DB_PORT=5432
DB_NAME=postgres
DB_SSL_MODE='require' # adjust this to "disable" if you use http

# Email config
EMAIL_SERVER='server_address'
EMAIL_ADDR='email@example.org'
EMAIL_PASSWORD='password'

# Server Config
SERVER_ADDR='http://10.0.0.14:5000'
PROXY_FIX='false' # Only set to true if your server is behind a proxy. Otherwise, leave it as false.