{% extends 'base.html' %}

{% block title %}IdiotNet | Edit Post{% endblock %}
{% block content %}
    <h1>Edit Post</h1>
    {% if user.punishment_status.value != "mute" and client.punishment_status.value != "mute" %}
        {% if error_message %}
            <div id="error">
                <h3>Error</h3>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
        <form action="{{ request.url}}" method="POST">
            <label for="title">Title:</label><input name="title" type="text" id="title" value="{{ post.title }}"><br>
            <textarea id="content" name="content" rows="5" cols="40" placeholder="Once upon a time...">{{ post.content }}</textarea><br/>
            <input class="submit" type="submit" value="Submit">
        </form>
    {% else %}
        <p>You have been muted until {{ user.punishment_expiration.strftime("%A, %B %d, %Y %H:%M") }} for: <br/>
            {{ user.punishment_reason}}</p>
    {% endif %}
{% endblock %}