{% extends 'base.html' %}

{% block title %}IdiotNet | {{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <h2><a href="{{ post.author.url }}"> {{ post.author.username }}</a></h2>
    <p class="small_info">Posted at {{ post.date_posted.strftime("%Y-%m-%d %H:%M") }}</p>
    {% if post.date_modified %}
        <p class="small_info">Edited at {{ post.date_modified.strftime("%Y-%m-%d %H:%M") }}</p>
    {% endif %}
    <h3><span id="like-count">{{ post.likes }}</span> Likes </h3>
    {% if user %}
        <button id="like" data-id="{{ post.post_id }}" data-like="{{ not user.is_liked(post.post_id) }}"></button><br/>
        {% if user.user_id == post.author.user_id %}
            <a href="{{ request.url + "\edit" }}">Edit Post...</a>
        {% endif %}
    {% endif %}
    <div id="post-content">{{ post.content }}</div>
    <div id="post-images">
        {% for image in post.images %}
            <img src="{{ routes['image'].format(image.image_id) }}">
        {% endfor %}
    </div>
    {% include 'comments.html' %}
    {% if (user) and (user.role.value != "member") %}
            <div class="mod-menu">
                <h2>Moderator Options</h2>
                <ul>
                    <li><a href="">Delete</a></li>
                    <li><a href="">Disable Comments</a></li>
                </ul>
            </div>
        {% endif %}
{% endblock %}