<table id="latest-table">
    <tr><th>Title</th><th>Excerpt</th><th>Author</th><th>Date Posted</th><th>Likes</th><th>Comments</th></tr>
    {% for post in posts %}
        <tr>
            <th><a href="{{ routes["post"].format(post.post_id) }}" id="post-{{ post.post_id }}">{{ post.title[:12] }}</a></th>
            <th>{{ post.content[:15] }}</th>
            <th><a href="{{ post.author.url }}">{{ post.author.username }}</a></th>
            <th>{{ post.date_posted.strftime("%Y-%m-%d %H:%M:%S.%f") }}</th>
            <th>{{ post.likes_count }}</th>
            <th>{{ post.all_comments|length }}</th>
        </tr>
    {% endfor %}
</table>


{% if page > 1 %}
    <a href="{{  url_for(request.endpoint, **combine_view_args(request.args,request.view_args,{'page':page-1}))|string }}">Previous</a>
{% endif %}
<span>Page {{ page }}</span>
{% if not is_last_page %}
    <a href="{{ url_for(request.endpoint, **combine_view_args(request.args,request.view_args,{'page':page + 1}))|string}}">Next</a>
{% endif %}
