<table id="latest-table">
    <tr class="info"><th>Title</th><th>Excerpt</th><th>Author</th><th>Date Posted</th><th>Likes</th><th>Comments</th></tr>
    {% for post in posts %}
        <tr>
            <td><a href="{{ routes["post"].format(post.post_id) }}" id="post-{{ post.post_id }}">{{ post.title[:20] }}</a></td>
            <td>{{ post.content[:15] }}</td>
            <td><a href="{{ post.author.url }}">{{ post.author.username }}</a></td>
            <td>{{ post.date_posted.strftime("%Y-%m-%d %H:%M:%S.%f") }}</td>
            <td>{{ post.likes_count }}</td>
            <td>{{ post.all_comments|length }}</td>
        </tr>
    {% endfor %}
</table>

<!- thanks to https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ix-pagination ->
{% if page > 1 %}
    <a href="{{  url_for(request.endpoint, **combine_view_args(request.args,request.view_args,{'page':page-1}))|string }}">Previous</a>
{% endif %}
<span>Page {{ page }}</span>
{% if not is_last_page %}
    <a href="{{ url_for(request.endpoint, **combine_view_args(request.args,request.view_args,{'page':page + 1}))|string}}">Next</a>
{% endif %}
