{% extends 'base.html' %}

{% block title %}IdiotNet | Server Configuration{% endblock %}
{% block content %}
    <h1>Change Server Configuration</h1>
    <form action="{{ request.url }}" id="config_form" method="post">
        <label for="require_join_code" >Require Join Code: </label>
                <input id="require_join_code" name="require_join_code" type="checkbox" {% if config.join_code_required %}checked{% endif %}><br/>
            <label for="join_code">Join Code: </label>
                <input class="optional_config" id="join_code" name="join_code" type="text" {% if not config.join_code_required %}disabled{% endif %}
                    value="{{ config.join_code if config.join_code_required else '' }}"><br/>
        <label for="allow_signup" >Signup Allowed: </label>
            <input id="allow_signup" name="allow_signup" type="checkbox" {% if config.allow_signup %}checked{% endif %}><br/>
        <label for="approve_posts" >Require Post Approval: </label>
            <input id="approve_posts" name="approve_posts" type="checkbox" {% if config.approve_posts %}checked{% endif %}><br/>
        <label for="require_support_email" >Use Support Email: </label>
                <input id="require_support_email" name="require_support_email" type="checkbox" {% if config.has_support_email %}checked{% endif %}><br/>
            <label  for="support_email">Support Email: </label>
                <input class="optional_config" id="support_email" name="support_email" type="email" {% if not config.has_support_email %}disabled{% endif %}
                    value="{{ config.support_email if config.has_support_email else '' }}"><br/>
        <label for="require_announcement_banner" >Display Announcement Banner: </label>
                <input id="require_announcement_banner" name="require_announcement_banner" type="checkbox" {% if config.has_announcement_banner %}checked{% endif %}><br/>
            <label for="announcement_banner">Announcement Banner: </label>
                <input class="optional_config" id="announcement_banner" name="announcement_banner" type="text" {% if not config.has_announcement_banner %}disabled{% endif %}
                    value="{{ config.announcement_banner if config.has_announcement_banner else '' }}"><br/>
        <input id="submit" name="submit" type="submit" value="Submit">
    </form>
{% endblock %}
{% block extra_js %}
    <script src="/static/js/admin.js"></script>
{% endblock %}