{% extends 'base.html' %}

{% block title %}IdiotNet | About{% endblock %}
{% block content %}
    <h1>About IdiotNet</h1>
    <p>IdiotNet is a really stupid social media, made by <a href="https://github.com/nonsense-digital">Nonsense Digital</a>.
    It began from a humble setup, running off of a computer in a high school classroom. It was originally given the name
    due to its lack of security features. However, since then, the code has been polished and is now somewhat safe
    for the public internet.</p>
    <h2>Rules</h2>
    <ol>
        <li>No spamming (especially unicode characters)</li>
        <li>Be nice</li>
        <li>No obscenity or profanity</li>
        <li>No suggestive content</li>
        <li>No doxxing</li>
        <li>Don't do anything against school rules or the law that would get us in trouble</li>
        <li>Don't send malicious links/scripts</li>
        <li>No impersonation (parody accounts are OK)</li>
        <li>No AI Slop</li>
        <li>No fimpla!!!</li>
    </ol>
    {% if g.config.has_support_email %}
        <h2>Support</h2>
        <p>For inquiries about the website, please contact {{ g.config.support_email }}</p>
    {% endif %}
{% endblock %}