{% extends 'base.html' %}

{% block title %}IdiotNet | About{% endblock %}
{% block content %}
    <h1>About IdiotNet</h1>
    <p>IdiotNet is a really stupid social media, made by <a href="https://w1thrd.x10.mx/">W1THRD</a>.
    It has very little security features, and at this stage is only a prototype, not a finished
    product intended for the public internet.</p>
    <h2>Rules</h2>
    <ol>
        <li>No spamming (especially unicode characters)</li>
        <li>Be nice</li>
        <li>No obscenity or profanity</li>
        <li>Don't do anything against school rules or the law that would get us in trouble</li>
        <li>Don't send malicious links/scripts</li>
        <li>No impersonation (parody accounts are OK)</li>
        <li>No AI Slop</li>
        <li>No fimpla!!!</li>
    </ol>
{% endblock %}