<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
  </head>
  <body>
    <nav>
        <img src="/static/images/logo.png" alt="IdiotNet">
        <ul id="main-nav">
        <li><a href="{{ routes['home'] }}">Home</a></li>
        <li><a href="{{ routes['latest'] }}">Latest</a></li>
        <li><a href="{{ routes['users'] }}">Users</a></li>
        <li><a href="{{ routes['about'] }}">About</a></li>
        {% if user %}
            <li><a href="{{ routes['new_post'] }}">New Post</a></li>
            <li><a href="{{ user.url }}">Profile</a></li>
            {% if user.role.value == "moderator" %}
                <li><a href="{{ routes['admin_dashboard'] }}">Moderator</a></li>
            {% elif user.role.value == "admin" %}
                <li><a href="{{ routes['admin_dashboard'] }}">Control Panel</a></li>
            {% endif %}
            <li><a href="{{ routes['logout'] }}">Logout</a></li>
        {% else %}
            <li><a href="{{ routes['login'] }}">Login</a></li>
            {% if g.config.allow_signup %}
                <li><a href="{{ routes['signup'] }}">Signup</a></li>
            {% endif %}
        {% endif %}

        </ul>
        <form method="get" class="searchbox" action="{{ routes["search"] }}">
            <label for="query">Search:</label> <input type="text" id="query" name="query" value="{{query}}" maxlength="50" />
            <input type="submit" value="Search" />
        </form>

    </nav>
    {% if g.config.has_announcement_banner %}
        <div id="error">
            <span class="property">ANNOUNCEMENT: </span>
            {{ g.config.announcement_banner }}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/js/common.js"></script>
    {% if post %}
        {% if post.title == "evil277&" %}
            <script src="/static/js/hacker.js"></script>
        {% endif %}
    {% endif %}
    {% block extra_js %}{% endblock %}
  </body>
</html>