<ul id="comments">
    {% if user %}
        <li>Post comment: <form action="{{ API["comment_post"].format(post.post_id) }}" method="POST">
            <input id="content" name="content" placeholder="Hey.....">
            <input type="submit" value="Submit">
        </form></li>
    {% endif %}
    {% for comment in post.comments|reverse %}
        <li><a href="{{ routes["user"].format(comment.author_name) }}">{{ comment.author_name }}</a>: {{ comment.content }}
            <ul class="replies">
                {% for reply in comment.replies %}
                    <li>
                        <a href="{{ routes["user"].format(reply.author_name) }}">{{ reply.author_name }}</a>: {{ reply.content }}
                    </li>
                {% endfor %}
                {% if user %}
                    <li>
                        <details>
                            <summary>Reply...</summary>
                            <form action="{{ API["reply_comment"].format(comment.comment_id) }}" method="POST">
                                <input id="content" name="content" placeholder="Hey.....">
                                <input class="submit" type="submit" value="Submit">
                            </form>
                        </details>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>