{% extends 'base.html' %}

{% block title %}IdiotNet | Edit User{% endblock %}
{% block content %}
    <h1>Edit User Bio</h1>
    {% if user.punishment_status.value != "mute" and client.punishment_status.value != "mute" %}
        <form action="{{ request.url }}" method="POST">
            <textarea id="content" name="content" rows="5" cols="40" placeholder="I am a total loser..." maxlength="800">{{ user.bio }}</textarea><br/>
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>You have been muted until {{ user.punishment_expiration.strftime("%A, %B %d, %Y %H:%M") }} for: <br/>
            {{ user.punishment_reason}}</p>
    {% endif %}
{% endblock %}