{% extends 'base.html' %}

{% block title %}IdiotNet | Sign Up{% endblock %}
{% block content %}
    <h1>Create an account</h1>
    {% if g.config.allow_signup %}
        {% if error_message %}
            <div id="error">
                <h3>Error</h3>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
        <form action="{{ routes["signup"] }}" method="POST">
            <label for="username">Username:</label><input name="username" type="text" id="username" maxlength="15"
                                      {% if form_data %}value="{{ form_data.get('username',  ' ') }}"{% endif %}><br>
            <label for="password">Password:</label><input name="password" type="password" id="password" maxlength="50"
                                      {% if form_data %}value="{{ form_data.get('password',  ' ') }}"{% endif %}><br>
            <label for="verify_password">Verify Password:</label><input name="verify_password" type="password" id="verify_password" maxlength="50"
                                      {% if form_data %}value="{{ form_data.get('verify_password',  ' ') }}"{% endif %}><br>
            {% if g.config.join_code_required %}
                <label for="join_code">Join Code:</label><input name="join_code" type="text" id="join_code" maxlength="15" ><br>
            {% endif %}
            <input type="submit" class="submit" value="Submit">
        </form>
    {% else %}
        <p>New account creation is currently disabled. Contact {{ g.config.support_email }} for help.</p>
    {% endif %}
{% endblock %}