{% extends 'base.html' %}

{% block title %}IdiotNet | Sign Up{% endblock %}
{% block content %}
    <h1>Create an account</h1>
    {% if error_message %}
        <div id="error">
            <h3>Error</h3>
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <form action="{{ routes["signup"] }}" method="POST">
        <label for="username">Username:</label><input name="username" type="text" id="username" maxlength="15"><br>
        <label for="password">Password:</label><input name="password" type="password" id="password" maxlength="50"><br>
        <label for="verify_password">Verify Password:</label><input name="verify_password" type="password" id="verify_password" maxlength="50"><br>
        <input type="submit" class="submit" value="Submit">
    </form>
{% endblock %}