{% extends 'base.html' %}

{% block title %}IdiotNet | Bulk Delete Posts{% endblock %}
{% block content %}
    <h1>Bulk Delete Posts</h1>
    {% include 'admin/posts/post-info.html' %}
    <form action="{{ request.path }}" id="bulk_delete_form" method="post">
        <label for="delete_method">Delete Method: </label>
        <select id="delete_method" name="delete_method">
            <option value="none" disabled selected>Select...</option>
            <option value="range">ID Range</option>
            <option value="user">User Posts</option>
        </select>
        <div id="range_options">
            <label for="min" hidden>From: </label>
            <input type="number" name="min" id="min" disabled hidden><br/>
            <label for="max" hidden>To: </label>
            <input type="number" name="max" id="max" disabled hidden><br/>
            <label for="range_exclude" hidden>Exclude Post IDs (comma seperated): </label>
            <input type="text" name="exclude" id="range_exclude" disabled hidden><br/>
        </div>
        <div id="user_options">
            <label for="user" hidden>User ID: </label>
            <input type="number" id="user" name="user" disabled hidden><br/>
            <label for="user_exclude" hidden>Exclude Post IDs (comma seperated): </label>
            <input type="text" name="exclude" id="user_exclude" disabled hidden><br/>
        </div>
        <br/>
        <input id="submit" name="submit" type="submit" value="Confirm">
    </form>
{% endblock %}
{% block extra_js %}
    <script src="/js/admin.js"></script>
{% endblock %}