{% extends 'base.html' %}

{% block title %}IdiotNet | Bulk Delete Posts{% endblock %}
{% block content %}
    <h1>Bulk Delete Posts</h1>
    <h2>WARNING: Bulk deletion is irreversible and dangerous if used incorrectly</h2>
    {% if error_message %}
            <div id="error">
                <h3>Error</h3>
                <p>{{ error_message }}</p>
            </div>
    {% endif %}
    <form action="{{ request.path }}" id="bulk_delete_post_form" method="post">
        <div id="range_options">
            <label for="query">Post ID Ranges: </label>
            <input type="text" name="query" id="query"><br/>
            <details>
                <summary>Help on ranges</summary>
                <p>Ranges can be single page numbers, separated by commas, or ranges using dashes. <br/>
                For example, the following would be valid ranges: <br/></p>
                <ul>
                    <li>1</li>
                    <li>2-7</li>
                    <li>2-7,11-17,23,34-90</li>
                </ul>
            </details>
        </div>
        <br/>
        <input id="submit" name="submit" type="submit" value="Confirm">
    </form>
{% endblock %}
{% block extra_js %}
    <script src="/js/admin.js"></script>
{% endblock %}